<html>
<head>
	<link rel=stylesheet type=text/css href = "{{url_for('static',filename='styles.css') }} " >
</head>	

<body>
<div class = 'pane'>
	<div class = 'header'>
<h1>Neighbor Care by the Serendipitous Sisters</h1>
</br></br>
</div>

{% for service in services %}
		<a href = "{{url_for('showTask', service_id = service.id)}}">
			
					<div>
						<h3>{{service.name}}</h3>
					</div>
				
			</div>
		</a>
	{% endfor %}
{% endblock %}
<!-- <div>
{% for service in services %}


{% if service.id == 1 %}

<h1><a href='{{url_for('ServiceItemsMenu', service_id = service.id) }}' >Parent Help</a></h1>
<h2><a href='{{url_for('serviceItemsAdd', service_id = service.id) }}' >Add new service</a></h2>
<h2><a href='{{url_for('serviceItemsEdit', service_id = service.id, item_id = item_id) }}' >Edit service</a></h2>
{% elif service.id == 2 %}

<h1><a href='{{url_for('ServiceItemsMenu', service_id = service.id) }}' >Cat Care</a></h1>
<h2><a href='{{url_for('serviceItemsAdd', service_id = service.id) }}' >Add new service</a></h2>


{% elif service.id == 3 %}

<h1><a href='{{url_for('ServiceItemsMenu', service_id = service.id) }}' >Dog walking and care</a></h1>
<h2><a href='{{url_for('serviceItemsAdd', service_id = service.id) }}' >Add new service</a></h2>

<{% endif %}


{% endfor %} -->
</div> 


</body>

</html>