<html>
<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<!-- <link rel=stylesheet type=text/css href = "{{url_for('static',filename='styles.css') }} " > -->
<meta charset="utf-8">	
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {

	background-image: url("/static/waterfall.jpg");
	background-repeat: repeat-x;

}
</style>
</head>

<body>
	<div class="container">

<div class="row">
	
			<h1 style="color:white;margin-left: 400px; margin-top: 50px;" >New Task Item</h1>

			<form action="#" method = "post">
				<div style="margin-left: 400px; margin-top: 50px;" class="form-group">
					</br>
					<input type ="text" width=50% class="form-control" name="name"placeholder="Name of the task">
					<div></div>
					
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the task"></textarea>

					<div></div>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					</div>

					<button type="submit" class="btn-default" id="submit" type="submit">
					<span style="margin-top: 50px;" aria-hidden="true"></span>Create</button>
				</div>

</div>
</div>
</form>
</div>
		</div>


</body>
</html>						